/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fadeIn {
  animation-name: fadein;
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
